.jumbotron {
    padding-right: 10px;
    background-color: rgb(60, 148, 231);
  }
  #Gallery {
    background-color: #e2edff;
    padding-top: 15px;
  }
  section {
    padding-top: 5rem
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}
.card{
    background-color: rgb(64, 226, 255);
    color: blue;
    float: right;
}
